
.container .bigbox{
	margin-top: 20px;
	margin-bottom: 40px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.list-group{
	width: 31%;
}
.list-group-item-heading{
	font-size: 24px;
}
.list-group .list-group-item{
	color: #fff;
	border:none;
	border-radius: 0;
}
	.list-group #bgcolorgreen{background-color: #40d47e;}
	.list-group #bgcolororange{background-color: #ec7e20;}
	.list-group #bgcolorblue{background-color: #2ca2ee;}
.content{
	background: #f9f9f9;
	padding: 4px 16px;;
}
.content>p{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.content>.btn{
	display: block;
	background: #00a8ff;
	border: 0;
	border-radius: 20px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.content>.btn:hover{
	background: #337ab7;
}
.content ul{
	list-style: none;
}
.content ul li{
	min-width: 116px;
	min-height: 24px;
}
.content ul li em{
	display: block;
	width: 12px;
	height: 12px;
	float: left;
	border: 1px solid #f06;
	background: -webkit-linear-gradient(-90deg,#fff,#f00);
}
.content ul li span{
	float:left;
	color:#555;
    font-size: 14px;
    line-height: 14px;
}
